<!-- Topbar Start -->
<div class="container-fluid">
  <div class="row align-items-center bg-light py-3 px-xl-5 d-none d-lg-flex">
    <div class="col-lg-4">
      <a href="" class="text-decoration-none">
        <span class="h2 text-uppercase text-primary bg-dark px-2">Kanku</span>
        <span class="h2 text-uppercase text-dark bg-primary px-2 ml-n1">Enterprises</span>
      </a>
    </div>
    <div class="col-lg-4 col-6 text-left">

    </div>
    <div class="col-lg-4 col-6 text-right">
      <p class="m-0">Customer Service</p>
      <h5 class="m-0">+91 7588267171</h5>
    </div>
  </div>
</div>
<!-- Topbar End -->
<div class="container col-xl-10 col-xxl-8 px-4 py-5">
  <div class="row align-items-center g-lg-5 py-5">
    <!-- <div class="col-md-8 col-lg-7 col-xl-6">
      <img src="assets/img/loginimage.png"
      class="img-fluid" alt="Phone image">
  </div> -->
      <div class="col-lg-7 text-center text-lg-start">
          <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">Vertically centered hero sign-up form</h1>
          <p class="col-lg-10 fs-4">Below is an example form built entirely with Bootstrap’s form controls. Each
              required form group has a validation state that can be triggered by attempting to submit the form
              without completing it.</p>
      </div>
      <div class="col-md-10 mx-auto col-lg-5">
          <form [formGroup]="form" (ngSubmit)="formSubmit()" class="p-4 p-md-5 border rounded-3 bg-body-tertiary">
              <div class="form-floating mb-3">
                  <input formControlName="fullName" name="fullName" type="text" class="form-control" placeholder="Fullname">
                  <label class="form-label">Fullname</label>
              </div>
              <div class="form-floating mb-3">
                  <input formControlName="username" name="email" type="email" class="form-control" placeholder="name@example.com">
                  <label class="form-label">Email address</label>
              </div>
              <div class="form-floating mb-3">
                  <input formControlName="password" type="password" class="form-control" placeholder="Password">
                  <label class="form-label">Password</label>
              </div>

              <div>
                  <p>Already have an account? <a routerLink="/sign-in" >Sign in</a></p>
                    <!-- <p>Don't have an Account? <a href="sign-up">Create Acount</a></p> -->
                </div>


              <button class="w-100 btn btn-lg btn-warning" type="submit">Sign up</button>
              <hr class="my-4">
              <!-- <button class="w-100 btn btn-lg btn-danger" type="submit"><i
                      class="fa-brands fa-google m-1"></i>Sign
                  up</button> -->
              <!-- <small class="text-body-secondary">By clicking Sign up, you agree to the terms of use.</small> -->
          </form>
      </div>
  </div>
</div>
