<app-customer-header></app-customer-header>
<!-- Shop Detail Start -->
<div class="container-fluid pb-5">
  <div class="row px-xl-5" style="height:500px">
    <div class="col-lg-8">
      <div class="bg-light p-30" style="height:500px">
        <div class="nav nav-tabs mb-4">
          <a class="nav-item nav-link text-dark active" data-toggle="tab" href="#tab-pane-1">Description</a>
          <a class="nav-item nav-link text-dark" data-toggle="tab" href="#tab-pane-2">Information</a>
          <!-- <a class="nav-item nav-link text-dark" data-toggle="tab" href="#tab-pane-3">Reviews (0)</a>-->
        </div>
        <div class="tab-content">
          <div class="tab-pane fade show active" id="tab-pane-1">
            <h4 class="mb-3">Product Description</h4>
            <p>Casual shirt to wear out alert! Check out our new all-cotton flannel shirt! This shirt is made from 100%
              cotton, making it soft to the touch and gentle on the skin. The long-sleeve design is perfect for those
              cooler days or nights, while the button-up closure makes it easy to take on and off. The plaid design is
              perfect for any casual occasion, whether going to a barbecue or running errands. The shirt is made in
              Italy, so you know you’re getting a high-quality product.</p>
            <p>Looking for a sweatshirt that keeps you warm and dry all day? Look no further than this rain defender
              loose-fit heavyweight sweatshirt. This 100% cotton sweatshirt is perfect for those cold, rainy days. The
              “Rain Defender” technology will keep you dry, while the loose fit allows you to move and breathe easily.
              In addition, the heavyweight fabric will keep you warm all day long. Whether working outside or just
              walking, this sweatshirt is perfect for any occasion.</p>
            <p>This elegant three-piece suit is excellent for any formal occasion. Do you want to feel like George
              Clooney on the red carpet? Our slim fit and single-breasted blazer will give you a sharp and polished look
              while the pants and vest complete the ensemble. The 80% polyester and 20% viscose fabric is comfortable
              and easy to care for, and we recommend dry cleaning for the best results.
            </p>
          </div>
          <div class="tab-pane fade" id="tab-pane-2">
            <h4 class="mb-3">Additional Information</h4>
            <p>Kanku Enterprises in Kolhapur specializes in providing a wide range of uniforms,
               including school uniforms and other related products.Kanku Enterprises in Kolhapur offers various products,
                primarily focusing on uniforms. Their product range includes:</p>
            <div class="row">
              <div class="col-md-12">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item px-0">
                    <strong>School Uniforms</strong>: Catering to different schools with specific designs and materials.
                  </li>
                  <li class="list-group-item px-0">
                    <strong> Lunch Boxes</strong>: Various styles suitable for children.
                  </li>
                  <li class="list-group-item px-0">
                    <strong> Water Bottles</strong>: Including slim and spring water bottles.
                  </li>

                </ul>
              </div>
              <!--<div class="col-md-6">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item px-0">
                    Sit erat duo lorem duo ea consetetur, et eirmod takimata.
                  </li>
                  <li class="list-group-item px-0">
                    Amet kasd gubergren sit sanctus et lorem eos sadipscing at.
                  </li>
                  <li class="list-group-item px-0">
                    Duo amet accusam eirmod nonumy stet et et stet eirmod.
                  </li>
                  <li class="list-group-item px-0">
                    Takimata ea clita labore amet ipsum erat justo voluptua. Nonumy.
                  </li>
                </ul>
              </div>-->
            </div>
          </div>
          <div class="tab-pane fade" id="tab-pane-3">
            <div class="row">
              <div class="col-md-6">
                <h4 class="mb-4">1 review for "Product Name"</h4>
                <div class="media mb-4">
                  <img src="img/user.jpg" alt="Image" class="img-fluid mr-3 mt-1" style="width: 45px;">
                  <div class="media-body">
                    <h6>John Doe<small> - <i>01 Jan 2045</i></small></h6>
                    <div class="text-primary mb-2">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star-half-alt"></i>
                      <i class="far fa-star"></i>
                    </div>
                    <p>Diam amet duo labore stet elitr ea clita ipsum, tempor labore accusam ipsum et no at. Kasd diam
                      tempor rebum magna dolores sed sed eirmod ipsum.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <h4 class="mb-4">Leave a review</h4>
                <small>Your email address will not be published. Required fields are marked *</small>
                <div class="d-flex my-3">
                  <p class="mb-0 mr-2">Your Rating * :</p>
                  <div class="text-primary">
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                  </div>
                </div>
                <form>
                  <div class="form-group">
                    <label for="message">Your Review *</label>
                    <textarea id="message" cols="30" rows="5" class="form-control"></textarea>
                  </div>
                  <div class="form-group">
                    <label for="name">Your Name *</label>
                    <input type="text" class="form-control" id="name">
                  </div>
                  <div class="form-group">
                    <label for="email">Your Email *</label>
                    <input type="email" class="form-control" id="email">
                  </div>
                  <div class="form-group mb-0">
                    <input type="submit" value="Leave Your Review" class="btn btn-primary px-3">
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
        <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Contact
            Us</span></h2>
        <div class="px-xl-5">
          <div class=" mb-5">
            <div class="bg-light p-30 mb-30">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d7282.787757926596!2d74.21745498482821!3d16.69671262327538!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMTbCsDQxJzQ3LjMiTiA3NMKwMTMnMTguMyJF!5e0!3m2!1sen!2sin!4v1712732108419!5m2!1sen!2sin"
                style="border:0; height: 100%; width: 100%;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="bg-light p-30 mb-3">
              <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>130/C ward Surya Plaza,<p>Kasaba gate police
                station near,</p>
              <p> Mahadwar Road ,Kolhapur</p>
              <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>kankuenterprise&#64;gmail.com</p>
              <p class="mb-2"><i class="fa fa-phone-alt text-primary mr-3"></i>+91 7588267171</p>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>


<!-- Shop Detail End -->
<app-customer-footer></app-customer-footer>
